
.icon-info-circled:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */
